/* Layout */

.page-signup .page-contents {
	display: grid;
	grid-template-columns: 1fr 10fr 1fr;
	grid-template-areas:
	". signupForm .";
}
.page-signup .signup-form-container {
	grid-area: signupForm;
	max-width: 350pt;
	width: calc(200pt + 6vw);
	margin: auto;
}
.page-signup .login-redirect {
	grid-area: loginRedirect;
}