.select-grid {
	border: none;
	border-radius: 0pt;
	padding: 10pt;
	font-size: 14pt;
	color: #9b9b9b;
	font-weight: 250;
	display: grid;
	grid-template-columns: 1fr min-content;
	grid-template-areas: 'input caret';
}

.select-input {
	grid-area: input;
	align-self: center;
}

.select-input input {
	width: 100%;
	font-size: 16pt;
	border: none;
	cursor: default;
}
.select-input input:focus {
	cursor: text;
}
.select-input input::placeholder {
	color: #9b9b9b;
	font-size: 16pt;
	font-weight: 200;
	letter-spacing: 1.5pt;
}
.select-caret {
	grid-area: caret;
	align-self: center;
}
.status-icon-area svg {
	margin: auto 0;
}
.select-results {
	max-height: 125pt;
	overflow-y: scroll;
	grid-area: results;
	background-color: white;
}
li {
	list-style-type: none;
	cursor: pointer;
	padding: 5pt 10pt;
}

li.selected {
	background-color: #049CD8;
	color: white;
}

ul {
	padding: 0pt;
	margin: 0pt;
}
.select.input.grid {
	height: initial;
}
.input {
	grid-template-columns: min-content min-content;
	grid-template-areas:
	'inputContainer errorMessage'
	'results .';
}
.error-message {
	grid-area: errorMessage
}
.input-container {
	grid-area: inputContainer; 
	background-color: white;
	width: 300pt;
	height: 30pt;
	padding: 10pt;
	grid-template-columns: 1fr min-content;
	grid-template-areas: 
	'input statusIcon';
}

.input-area {
	grid-area: input;
	align-self: center;
}
.status-icon-area {
	grid-area: statusIcon;
	align-self: center;
}

.input-container label {
	display: block;
	font-weight: 200;
	font-size: 10pt;
	color: #9b9b9b;
}
