.password-tip-container {
	grid-template-areas: 'bubbleCaret bubble';
	grid-template-columns: min-content 1fr;
	margin: auto 0;
}
.bubble-caret {
	grid-area: bubbleCaret;
	text-align: right;
	width: 16pt;
}
.bubble-caret svg {
	transform: translateY(20pt);
	
}
.bubble {
	grid-area: bubble;
	background-color: #FFFFFF;
	padding: 8pt  15pt;
	border-radius: 3pt;
	z-index: 1000;
}
.bubble svg {
	display: block;
}
.password-tip-title {
	font-size: 14pt;
	text-transform: uppercase;
	color: #BEBEC4;
}

.ok {
	color: #5EFC69;
}

.req-row {
	padding: 6pt 0pt;
	grid-template-columns: min-content 1fr;
	grid-template-areas: 'statusIcon description'
}
.status-icon {
	grid-area: statusIcon;
}
.description {
	grid-area: description;
	font-weight: 200;
	color: #141414;
	margin: auto 0;
	padding-left: 6pt;
	white-space: nowrap;
	
}

.italic {
	font-style: italic;
}