
.form-input {
	margin-bottom: 16pt;
}

.signup-form input {
	width: 100%;
	border: none;
}

.signup-form input::placeholder {
	color: #999999;
	font-size: 14pt;
	font-weight: 200;
	letter-spacing: 1.2pt;
}
.signup-form input {
	color: #141414;
}
.signup-form .login-redirect {
	grid-template-areas: 'question btn';
	grid-template-columns: 1fr min-content;
}
.signup-form .login-redirect  > * {
	margin: auto 0;
}
.signup-form .login-redirect .question {
	grid-area: question;
}
.signup-form .login-redirect .btn {
	grid-area: btn;
}
.signup-form button {
	font-size: 14pt;
	font-weight: 200;
}
.signup-form .form-input {
	height: 50pt;
}
/* Modifier */
.signup-form .standard-size {
	max-width: 350pt;
	width: calc(200pt + 6vw);
	height: 50pt;
}