
/* Palette
	Red: ED254E
	Blue 0094FF
		Light Blue: #2CA6FD
		Medium blue: #0094FF
		Dark blue: #007FDB
	White
		Light white: #FFFFFF
		Medium White: #F9F9F9
		Dark White: #F0F0F0
	Black
		Light Black: #1E1E21
		Medium Black: #141414
		Dark Black: #070600
	Gray
		Light Gray: #DEDEE5
		Medium Gray: #BEBEC4
		Dark Gray: #9B9BA0
	
	Velvety Red: AA1155
*/

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.page-contents {
	background-color: #F0F0F0;
	min-height: 95vh;
}
/* Custom Elements */

.btn-blue-dark {
	background-color: #2CA6FD;
	color: white !important;
}
	.btn-blue-dark a {
		color: white !important;
	}
	.btn-blue-dark:hover {
		background-color: #0094FF;
		color: white !important;
	}
	.btn-blue-dark:active {
		background-color: #007FDB;
		color: white !important;
	}
.btn-blue-light {
	background-color: #FFFFFF;
	border: 2px solid #0094FF;
	color: #0094FF !important;
}
	.btn-blue-light a {
		color: #0094FF !important;
	}
	.btn-blue-light:hover {
		background-color: #F9F9F9;
		color: #0094FF !important;
	}
	.btn-blue-light:active {
		background-color: #F0F0F0;
		color: #0094FF !important;
	}
.btn-round {
	border-radius: 100pt;
}
.large-title {
	font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif !important;
	color: white;
	font-size: 144pt;
	text-transform: uppercase;
	text-align: center;
}
@media only screen and (max-width: 600px) {
	.large-title {
		font-size: 64pt;
	}
}
.large-subtitle {
	font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif !important;
	color: white;
	font-size: 24pt;
	text-transform: lowercase;
	text-align: center;
}
/* Attachable Modifiers */
.page-view {
	height: 100vh;
	min-height: 500pt; /* around 7 inches in height */
	width: 100vw;
	min-width: 500pt; /* around 5.5 inches in width */
}
@media only screen and (max-width: 600px) {
	.page-view {
		height: 100vh;
		min-height: 600px; /* around 7 inches in height */
		width: 100vw;
		min-width: 400px; /* around 5.5 inches in width */
	}
}
.san-serif {
	font-family: Arial, Helvetica, sans-serif !important;
}
.serif {
	font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif !important;
}
.san-serif {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}
.center {
	margin: auto;
}
.v-center {
	margin: auto 0;
}
.h-center {
	margin: 0 auto;
}
.text-white {
	color: white !important;
}
.text-red {
	color: #D0021B !important;
}
.text-blue {
	color: #226FC8 !important;
}
.text-green {
	color: green !important;
}
.text-uppercase {
	text-transform: uppercase;
}
.text-lowercase {
	text-transform: lowercase;
}
.text-center {
	text-align: center;
}
.text-no-margin {
	margin: 0pt;
}
.text-no-padding {
	padding: 0pt;
}
.light {
	font-weight: 200;
}
.italic {
	font-style: italic;
}
.text-144 {
	font-size: 144pt;
}
.text-120 {
	font-size: 120pt;
}
.text-100 {
	font-size: 100pt;
}
.text-80 {
	font-size: 80pt;
}
.text-72 {
	font-size: 72pt;
}
.text-64 {
	font-size: 64pt;
}
.text-56 {
	font-size: 56pt;
}
.text-48 {
	font-size: 48pt;
}
.text-36 {
	font-size: 36pt;
}
.text-30 {
	font-size: 30pt;
}
.text-24 {
	font-size: 24pt;
}
.text-18 {
	font-size: 18pt;
}
.text-16 {
	font-size: 16pt;
}
.text-14 {
	font-size: 14pt;
}
.grid {
	display: grid;
}

/* Standard Elements */
button {
	padding: 6pt;
	border-radius: 2pt;
	font-size: 11pt;

	letter-spacing: 0.7pt;
	border: none;
	outline: none;
	cursor: pointer;
}
input {
	border: 1pt solid #DEDEE5;
	border-radius: 2pt;
	height: 24pt;
	font-size: 11pt;
	padding: 0pt 6pt;
	box-sizing: border-box;
}
input::placeholder {
	color: #9B9BA0;
	font-weight: 200;
}
div, p, input, a, h1, h2, h3, h4, h5, h6, li, ul, button {
	font-family: Arial, Helvetica, sans-serif !important;
	margin: 0pt;
}

a {
	text-decoration: none;
}

/* Custom Fonts */
