body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.viewport-container {
	display: grid;
	grid-template-areas: 
	'navContainer headerContainer'
	'navContainer bodyContainer';
	grid-template-columns: min-content 1fr;
}
.sidebar-container {
	grid-area: navContainer;
	background-color: #343434;
}
.body-container {
	grid-area: bodyContainer;
}
.header-container {
	grid-area: headerContainer;
}
#root {
	background-color: #141414;
}
.page-contents {
	min-height: calc(100vh - 50px);
}


.btn-round {
	border-radius: 100pt;
}
.large-title {
	font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif !important;
	color: white;
	font-size: 144pt;
	text-transform: uppercase;
	text-align: center;
}
@media only screen and (max-width: 600px) {
	.large-title {
		font-size: 64pt;
	}
}
.large-subtitle {
	font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif !important;
	color: white;
	font-size: 24pt;
	text-transform: lowercase;
	text-align: center;
}
/* Standard Elements */
button {
	padding: 6pt;
	border-radius: 2pt;
	font-size: 11pt;

	letter-spacing: 0.7pt;
	border: none;
	outline: none;
	cursor: pointer;
}
input {
	border: 1pt solid #DEDEE5;
	color: #141414 !important;
	border-radius: 2pt;
	height: 24pt;
	font-size: 11pt;
	padding: 0pt 6pt;
	box-sizing: border-box;
}
input:focus, select:focus {
	outline-width: 0;
	
}
input:focus {
	cursor: text;
}
input::placeholder {
	color: #9B9BA0;
	font-weight: 200;
}
div, p, input, a, h1, h2, h3, h4, h5, h6, li, ul, button {
	font-family: Arial, Helvetica, sans-serif !important;
	margin: 0pt;
	color: #f0f0f0;
}

a {
	text-decoration: none;
}

/* Custom Fonts */
